.breadButterDiv1
body
{
    margin:auto;
    padding:0px;
}

.mainDiv
{
    height:965px;
    width:1890px;
}

.sideBarDiv
{
    height:869px;
    width:400px;
    float:left;
}

.carDiv
{ 
    height:500px;
    width:390px;
    overflow-x: hidden;
    background-color:#F5F5DC;
    float:left;
}
#carOrderTable
{
    color:black;
    background-color:#F5F5DC;
    border-style:solid;
    border-width:medium;
}
.carInnerDiv
{
    height:50px;
    width:110px;
    background-color:#EEEEEE;
    margin-top:5px;
    margin-bottom:10px;
    margin-left:5px;
    float:left;
}
.waiterName
{
    height:150px;
    width:180px;
    background-color:#EEEEEE;
    margin-top:10px;
    margin-left:10px;
    float:left;
}
.logo
{
    height: 62px;
    width: 390px;
    background-color: #EF3A5B;
    margin-left:3px;
    margin-top:2px;
}
.car
{
    float:left;	
}
.home
{
    float:left;
    margin-left:8px;
    margin-top:5px;	
}
.shiv
{
    color:white;
    font-weight: 700;
    float: left;
}

.food
{
    color: white;
    float:left;
    font-variant: small-caps;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 5px;
}

.currentTableDiv
{
    height:750px;
    background-color:#F5F5DC;
    width:400px;
    float:left;
}

.containDiv
{
    height:1045px;
    width:970px;  
    background-color:#EEEEEE;
    float:left;
    overflow: scroll;
    //border-style: double;
}

.rightable
{
    height:870px;
    width:520px;
    background-color:#EEEEEE;
    float:left;
}
.rightableMain
{
    height:1045px;
    width:520px;
    background-color:#EEEEEE;
    float:left;
}


.inkg2Div
{
    height:163px;
    width:126px;
    background-color:#7F9076;
    margin-left:10px;
    margin-top:10px;
    float:left;
}

/** Added by Nirav ****/
.itemsDiv
{
    height:163px; //203px
    width:151px;
    width:126px;    
    margin-left: 9px;
    margin-top: 10px;
    float: left;
}
/***********************/

.icecreamDiv
{
    height:163px;
    width:126px;
    background-color:#BFB110;
    margin-left:10px;
    margin-top:10px;
    float:left;
}

.kingconeDiv
{
    height:163px;
    width:126px;
    background-color:#8BBA30;
    margin-top:10px;
    margin-left:10px;
    float:left;
}

.candyDiv
{
    height:163px;
    width:126px;
    background-color:#BEA881;
    margin-top:10px;
    margin-left:10px;
    float:left;
}

.suandaeDiv
{
    height:163px;
    width:126px;
    background-color:#FFB700;
    margin-top:10px;
    margin-left:10px;
    float:left;
}

.juiceDiv
{
    height:163px;
    width:126px;
    background-color:#E768AB;
    margin-top:10px;
    margin-left:10px;
    float:left;
}

.faludaDiv
{
    height:163px;
    width:126px;
    background-color:#02753C;
    margin-top:10px;
    margin-left:10px;
    float:left;
}

.shakeDivWithoutIce
{
    height:163px;
    width:126px;
    background-color:#38BEB7;
    margin-left:10px;
    margin-top:10px;
    float:left;
}

.shakeDivWithIce
{
    height:163px;
    width:126px;
    background-color:#bab9a9;
    margin-left:10px;
    margin-top:10px;
    float:left;
}

.sandwichesDiv
{
    height:163px;
    width:126px;
    background-color:#E3AD27;
    margin-top:10px;
    margin-left:10px;
    float:left;
}

.burgerDiv
{
    height:163px;
    width:126px;
    background-color:#CF2027;
    margin-top:10px;
    margin-left:10px;
    float:left;
}

.franceDiv
{
    height:163px;
    width:126px;
    background-color:#F6CEE3;
    margin-top:10px;
    margin-left:10px;
    float:left;
}

.pizza150Div
{
    height:163px;
    width:126px;
    background-color:#D0A9F5;
    margin-top:10px;
    margin-left:10px;
    float:left;
}

.clubDiv
{
    height:163px;
    width:126px;
    background-color:#E3AD27;
    margin-top:10px;
    margin-left:10px;
    float:left;
}

.ovenTostDiv
{
    height:163px;
    width:126px;
    background-color:#04ACAD;
    margin-top:10px;
    margin-left:10px;
    float:left;
}

.garlicBreadDiv
{
    height:163px;
    width:126px;
    background-color:#04ACAD;
    margin-top:10px;
    margin-left:10px;
    float:left;
}

.drinkDiv
{
    height:163px;
    width:126px;
    background-color:#BA426F;
    margin-top:10px;
    margin-left:10px;
    float:left;
}

.riceBhalDiv
{
    height:163px;
    width:126px;
    background-color:white;
    margin-top:10px;
    margin-left:10px;
    float:left;
}

.noodlesDiv
{
    height:163px;
    width:126px;
    background-color:#D6552D;
    margin-top:10px;
    margin-left:10px;
    float:left;
}

.manchurianDiv
{
    height:163px;
    width:126px;
    background-color:#7A3B3F;
    margin-top:10px;
    margin-left:10px;
    float:left;
}

.breadButterDiv1
{
    height:163px;
    width:126px;
    background-color:#7A3B3F;
    margin-top:10px;
    margin-left:10px;
    float:left;
}

.waterDiv
{
    height:163px;
    width:126px;
    background-color:#BA426F;
    margin-top:10px;
    margin-left:10px;
    float:left;
}

.riceDiv
{
    height:163px;
    width:126px;
    background-color:#647687;
    margin-top:10px;
    margin-left:10px;
    float:left;
}

.chutneyDiv
{
    height:163px;
    width:126px;
    background-color:#F4D40D;
    margin-top:10px;
    margin-left:10px;
    float:left;
}

.toppingDiv
{
    height:163px;
    width:126px;
    background-color:#F4D40D;
    margin-top:10px;
    margin-left:10px;
    float:left;
}

.extraToppingDiv
{
    height:163px;
    width:126px;
    background-color:#F4D40D;
    margin-top:10px;
    margin-left:10px;
    float:left;
}

.extra
{
    height:183px;
    width:520px;
    float:left;
    background-color:#EEEEEE;
}
.btnWith
{
    background-color: red;
}

.grillSandwichesDiv
{
    height:150px;
    width:265px;
    background-color:#8BBA30;
    margin-top:10px;
    margin-left:10px;
    float:left;
}

.pizzaDiv
{
    height:150px;
    width:265px;
    background-color:#C3DEFB;
    margin-top:10px;
    margin-left:10px;
    float:left;
}

.chineseDiv
{
    height:150px;
    width:950px;
    background-color:#BF6AFB;
    margin-top:10px;
    margin-left:10px;
    float:left;
}

.coldDrinks
{
    height:150px;
    width:126pxpx;
    background-color:#32B232;
    margin-top:10px;
    margin-left:10px;
    float:left;
}

.water
{
    height:150px;
    width:126px;
    background-color:#6DEBFF;
    margin-top:10px;
    margin-left:10px;
    float:left;
}

.dryfruit
{
    height:150px;
    width:126px;
    background-color:#ED399C;
    margin-top:10px;
    margin-left:10px;
    float:left;
}

.paneerChopsuey
{
    height:150px;
    width:250px;
    background-color:#ACACAC;
    margin-top:10px;
    margin-left:10px;
    float:left;
}

.toppings
{
    height:150px;
    width:126px;
    background-color:#FF5500;
    margin-top:10px;
    margin-left:10px;
    float:left;
}

.chutney
{
    height:150px;
    width:126px;
    background-color:#FFE87C;
    margin-top:10px;
    margin-left:10px;
    float:left;
}
.dryDiv
{
    height:160px;
    width:126px;
    background-color:#FFE87C;
    margin-top:70px;
    margin-left:10px;
    float:left;
}

.breadButterDiv
{
    height:163px;
    width:126px;
    background-color:red;
    margin-top:10px;
    margin-left:10px;
    float:left;
}
.price
{
    font-size:27px;
}





/* css of calculater */
#box2 {z-index: 100; position: absolute; }

/* delete the style declaration below if you do not want it to be transparent! */
#calculator {
    filter:alpha(opacity=85);
    -moz-opacity:.85;
    opacity:.85;
}
.drag
{
    position:relative;
    cursor:hand;
}
#calculator
{
    background-color:#F4F4F4;
    cursor:alpha;
    width:190px;
}
.calculatorcontainer
{
    padding:5px;
    border-top:1px solid #C0C0C0;
    border-left:1px solid #C0C0C0;
    border-right:2px outset #C0C0C0;
    border-bottom:2px outset #C0C0C0;
}
#calculator #control
{
    text-align:right;
}
#calculator input
{
    width:50px;
    height:50px;
    margin:2px;
    background-color:#FFF;
    font-family:verdana,arial,helvetica,sans-serif;
    font-size:1.9em;
    border:1px solid #C0C0C0;
    cursor:hand;
    cursor:pointer;
}

#calculator input:hover
{
    background-color: #E768AB;
}
#calculator img
{
    border:0;
}
#calculator #result
{
    width:173px;
    font-size:1.3em;
    padding:3px;
    cursor:text;
}
#calculator .operation
{
    font-weight:bold;
    background-color:#DDD;
}
#calculator .equals
{
    color:#FFF;
    font-weight:bold;
    background-color:#336699;
}
#version
{
    float:left;
    font-family:arial;
    padding:2px 0px 0px 2px;
    font-size:0.70em;
}
#version a
{
    color:#333;
    cursor:move;
    text-decoration:none;
}
#waiterdiv
{
    background-color:green;
}

.carWaiter
{
    height:200px;
}

.tableNo
{
    clear:both;
    text-decoration: none;
    color:black;
    font-size:30px;
    font-weight:bold;
    border:1px ridge black;

}

.tableNo1
{
    clear:both;
    text-decoration: none;
    color:black;
    font-size:30px;
    font-weight:bold;
    border:1px ridge black;
    background-color: green;

}

.tableNo2
{
    clear:both;
    text-decoration: none;
    color:black;
    font-size:30px;
    font-weight:bold;
    border:1px ridge black;
    background-color: yellow;

}


.tableNo:hover tableNo:active 
{
    color:blue;

}

a
{
    text-decoration: none;
    color:black;

}
.kilogram
{
    height:80px;
    width:80px;
    background-color:red;
    margin-top:10px;
    margin-right:10px;
    float:left;
}

.table1
{
    font-size: 20px;
}

.links
{
    font-size: 20kgpx;
    color:red;
}

.inkgDiv
{
    //height:163px;
    width: auto;
    //border: 1px solid black;
    background-color:white;
    //margin-left:10px;
    margin-top:5px;
    float:left;
}

.gm1
{
    height:76px;
    width:118px;
    background-color:blue;
    float:left;
    color:white;
    font-size:70px;
    border:1px;
}

.gm2
{
    margin-top: 4px;
    margin-left:4px;
    height:76px;
    width:95px;
    background-color:blue;
    float:left;
    color:white;
    font-size:60px;
}

.gm3
{
    margin-left:4px;
    height:76px;
    width:118px;
    background-color:blue;
    float:left;
    color:white;
    font-size:70px;
}

.gm4
{
    //margin-top:4px;
    margin-left:4px;
    height:76px;
    width:118px;
    background-color:blue;
    float:left;
    color:white;
    font-size:70px;
}