<table align="left"  border="1" cellpadding="2" cellspacing="2" id="tableNo" clsss="waiterdiv" >
<tr>
 <td align="center" class="table1" colspan="6" valign="top"><b>Order Master</b></td>
</td>
<tr>
	<td class="table1"><b>Waiter</b></td>
	<td class="table1"><b>Table</b></td>
	<td class="table1"><b>Total Amount</b></td>
	<td class="table1"><b>Total Items</b></td>
	<td class="table1"><b>Start Time</b></td>
	<td class="table1"><b>Last Order Time</b></td>
</tr>
{section name="sec" loop=$tableArray}
<tr>
  <td class="table2" align="center">{$tableArray[sec].waiterName}</td>
  <td class="table2" align="center">{$tableArray[sec].tableId}</td>
  <td class="table2" align="center">&nbsp;</td>
  <td class="table2" align="center">&nbsp;</td>
  <td class="table2" align="center">{$tableArray[sec].startTime}</td>
  <td class="table2" align="center">&nbsp;</td>
  </tr>
{/section}
</table>