{literal}
<script type="text/javascript" src="./js/shortcut.js"></script>
<script language="javascript">

function confNewPasswordMatch()
{
  if(document.form1.newPassword.value != document.form1.confNewPassword.value)
  {
    alert("Password MitchMatch!!!!!");
    document.form1.confNewPassword.value="";
    document.form1.newPassword.focus();
  }
 if (document.form1.newPassword.value.indexOf(invalid) > -1) 
  {
    alert("Sorry, spaces are not allowed..!!");
    document.form1.password.value = "";
    document.form1.newPassword.value = "";
    document.form1.confNewPassword.value = "";
    document.form1.password.focus();
    return false;
  }
  else 
  {
    if (pw1 != pw2) 
    {
      alert ("You did not enter the same new password twice. Please re-enter your password..!!");
      document.form1.password.value = "";
      document.form1.newPassword.value = "";
      document.form1.confNewPassword.value = "";
      document.form1.password.focus();
      return false;
    }
    else 
    {
      return true;
    }
  }
 }
</script>
{/literal}  
<BODY bgColor="#FFCEE7">
<FORM name="form1" action="{$smarty.server.PHP_SELF}" method="POST">
<center><A href="./index.php"><h3>Home</h3></A>&nbsp;&nbsp;&nbsp;&nbsp;
  <center><font color='red'>{$msg}</font></center>
<TABLE border="1" cellpadding="2" cellspacing="0" align="center">
<TR>
  <TD align="right">Old Password : </TD>
  <TD align="right"><INPUT type="password" name="oldPassword" /></TD>
</TR>
<TR>
  <TD align="right">New Password : </TD>
  <TD align="right"><input type="password" name="newPassword" /></TD>
</TR>
<TR>
  <TD align="right">Re-Type New Password : </TD>
  <TD align="right"><input type="password" name="confNewPassword" onblur="confNewPasswordMatch();"/></TD>
</TR>
<TR>
  <TD align="center" colspan="2"><input type="submit" name="newPasswordSet" value="Change" class="btnSubmit"/></TD>
</TR>
</TABLE>
</FORM>
</BODY>
<SCRIPT language="javascript">
  document.form1.oldPassword.focus();
</SCRIPT>
