{extends file="./main.tpl"}
{block name=head}
<script type="text/javascript">
  $(document).ready(function() {
    $('password').focus();
  });
</script>
{/block}
{block name=body}
<form name="form1" method="post" action="checkLogin.php">
<table class="table1" width="300" border="0" align="center" cellpadding="0" cellspacing="1">
<tr>
  <td>
    <table class="table2" width="100%" border="0" cellpadding="3" cellspacing="1">
      <tr>
        <td class="table1" colspan="3" align="center"><strong>Member Login </strong></td>
      </tr>
      <tr>
        <td class="table2">User Name</td>
        <td class="table2">:</td>
        <td class="table2"><input name="userName" type="text" id="userName" autofocus="autofocus"></td>
      </tr>
      <tr>
        <td class="table2">Password</td>
        <td class="table2">:</td>
        <td class="table2"><input name="password" type="password" id="password"></td>
      </tr>
      <tr>
        <td class="table2" colspan="3" align="center"><input type="submit" name="Submit" class="button" value=" L O G I N "></td>
      </tr>
    </table>
  </td>
</tr>
</table>
</form>
{/block}
