<html>
<head>
</head>

<body>
  <table cellpadding="10" align="left" border="0">
    <tr>
      <td colspan="2" align="center">
      	<a href="iceCream.php?waiter={$waiterVar}&table={$tableVar}&tablePart={$tablePartVar}" target="blank" style="text-decoration:none;">
      	  <img src="./images/a.jpg" height="100px" width="100px">&nbsp;&nbsp;
          <br/><br/>
          <font size="4" color="red">Ice-Cream </font>
        </a>
      </td>
      <td align="center">
      	<a href="shake.php?waiter={$waiterVar}&table={$tableVar}&tablePart={$tablePartVar}" target="blank" style="text-decoration:none;">
      		<img src="./images/shake.jpg" height="100px" width="100px">&nbsp;&nbsp;
          <br/><br/><font size="4" color="red">Shake</font>
        </a>  
      </td>
    </tr>
    <tr>
      <td align="center">
      	<a href="chinese.php?waiter={$waiterVar}&table={$tableVar}&tablePart={$tablePartVar}&tablePart={$tablePartVar}" target="blank" style="text-decoration:none;">
      	  <img src="./images/chinese.jpg" height="100px" width="100px">&nbsp;&nbsp;
          <br/><br/><font size="4" color="red">Chinese</font>
        </a>
      </td>
      <td align="center">
      	<a href="pizzas.php?waiter={$waiterVar}&table={$tableVar}&tablePart={$tablePartVar}" target="blank" style="text-decoration:none;">
      		<img src="./images/pizzas.jpg" height="100px" width="100px">&nbsp;&nbsp;
          <br/><br/><font size="4" color="red">Pizzas</font>
        </a>
      </td>
      <td align="center">
        <a href="sandwiches.php?waiter={$waiterVar}&table={$tableVar}&tablePart={$tablePartVar}" target="blank" style="text-decoration:none;">
        	<img src="./images/sandwiches.jpg" height="100px" width="100px">
          <br/><br/><font size="4" color="red">Sandwiches</font>
        </a>
      </td>
    </tr>
  </table>
</body>
</html>