<html>
  <body>
     <table id="itemTable" border="1" cellpadding="10" cellspacing="2">
       <tr id="ice" class="ice">
         <td><a href="sandwiches.php" id="1"><font size="4">Vegetable(Non/Grill)</font></a></td>
         <td>
           <button id="vegetablePlus" class="sum">+</button><br/>
           <input  type="text" name="vegetable" class="quntity" id="vegetable" value="0" /><br/>
           <button id="vegetableMinus" class="sum">-</button>
         </td>
         <td><a href="sandwiches.php" id="2"><font size="4">Masala(Grill)</font></a></td>
         <td>
           <button id="masalaPlus" class="sum">+</button><br/>
           <input type="text" name="masala" class="quntity" id="masala" value="0" /><br/>
           <button id="masalaMinus" class="sum">-</button>
        </td>
        <td><a href="sandwiches.php" id="3"><font size="4">Corn Capsicum(Grill)</font></a></td>
        <td>
          <button id="cornCapsicumPlus" class="sum">+</button><br />
          <input type="text" name="cornCapsicum" class="quntity" value="0" id="cornCapsicum" /><br/>
          <button id="cornCapsicumMinus" class="sum">-</button>
        </td>
        <td><a href="sandwiches.php" id="4"><font size="4">Mexican Beans(Grill)</font></a></td>
        <td>
          <button id="mexicanBeansPlus" class="sum">+</button><br/>
          <input type="text" name="mexicanBeans" class="quntity" value="0" id="mexicanBeans" /><br/>
          <button id="mexicanBeansMinus" class="sum">-</button>
        </td>
        <td><a href="sandwiches.php" id="5"><font size="4">Cheese(Non/Grill)</font></a></td>
        <td>
          <button id="cheesePlus" class="sum">+</button><br />
          <input type="text" name="cheese" class="quntity" value="0" id="cheese" /><br/>
          <button class="sum" id="cheeseMinus">-</button>
        </td>
       </tr>
     </table>
     <br /><br />
    
    <table id="itemTable" border="1" cellpadding="10" cellspacing="2">
       <tr id="ice" class="ice">
         <td><a href="sandwiches.php" id="1"><font size="4">Cheese Garlic(Grill)</font></a></td>
         <td>
           <button id="cheeseGarlicPlus" class="sum">+</button><br/>
           <input  type="text" name="cheeseGarlic" class="quntity" id="cheeseGarlic" value="0" /><br/>
           <button id="cheeseGarlicMinus" class="sum">-</button>
         </td>
         <td><a href="sandwiches.php" id="2"><font size="4">Italian(Grill)</font></a></td>
         <td>
           <button id="italianGrillPlus" class="sum">+</button><br/>
           <input type="text" name="italianGrill" class="quntity" id="italianGrill" value="0" /><br/>
           <button id="italianGrillMinus" class="sum">-</button>
        </td>
        <td><a href="sandwiches.php" id="3"><font size="4">Cheese Pineapple(Non/Grill)</font></a></td>
        <td>
          <button id="cheesePineapplePlus" class="sum">+</button><br />
          <input type="text" name="cheesePineapple" class="quntity" value="0" id="cheesePineapple" /><br/>
          <button id="cheesePineappleMinus" class="sum">-</button>
        </td>
        <td><a href="sandwiches.php" id="4"><font size="4">Spicy Paneer Capsicum(Grill)</font></a></td>
        <td>
          <button id="spicyPaneerCapsicumPlus" class="sum">+</button><br/>
          <input type="text" name="spicyPaneerCapsicum" class="quntity" value="0" id="spicyPaneerCapsicum" /><br/>
          <button id="spicyPaneerCapsicumMinus" class="sum">-</button>
        </td>
        <td><a href="sandwiches.php" id="5"><font size="4">Cheese(Grill)</font></a></td>
        <td>
          <button id="cheeseGrillPlus" class="sum">+</button><br />
          <input type="text" name="cheeseGrill" class="quntity" value="0" id="cheeseGrill" /><br/>
          <button class="sum" id="cheeseGrillMinus">-</button>
        </td>
       </tr>
     </table>
     
     <br /><br />
    <table id="itemTable" border="1" cellpadding="10" cellspacing="2">
       <tr id="ice" class="ice">
         <td><a href="sandwiches.php" id="1"><font size="4">Cheese Garlic(Grill)</font></a></td>
         <td>
           <button id="cheeseGarlicPlus" class="sum">+</button><br/>
           <input  type="text" name="cheeseGarlic" class="quntity" id="cheeseGarlic" value="0" /><br/>
           <button id="cheeseGarlicMinus" class="sum">-</button>
         </td>
         <td><a href="sandwiches.php" id="2"><font size="4">Italian(Grill)</font></a></td>
         <td>
           <button id="italianGrillPlus" class="sum">+</button><br/>
           <input type="text" name="italianGrill" class="quntity" id="italianGrill" value="0" /><br/>
           <button id="italianGrillMinus" class="sum">-</button>
        </td>
        <td><a href="sandwiches.php" id="3"><font size="4">Cheese Pineapple(Non/Grill)</font></a></td>
        <td>
          <button id="cheesePineapplePlus" class="sum">+</button><br />
          <input type="text" name="cheesePineapple" class="quntity" value="0" id="cheesePineapple" /><br/>
          <button id="cheesePineappleMinus" class="sum">-</button>
        </td>
        <td><a href="sandwiches.php" id="4"><font size="4">Spicy Paneer Capsicum(Grill)</font></a></td>
        <td>
          <button id="spicyPaneerCapsicumPlus" class="sum">+</button><br/>
          <input type="text" name="spicyPaneerCapsicum" class="quntity" value="0" id="spicyPaneerCapsicum" /><br/>
          <button id="spicyPaneerCapsicumMinus" class="sum">-</button>
        </td>
        <td><a href="sandwiches.php" id="5"><font size="4">Cheese(Grill)</font></a></td>
        <td>
          <button id="cheeseGrillPlus" class="sum">+</button><br />
          <input type="text" name="cheeseGrill" class="quntity" value="0" id="cheeseGrill" /><br/>
          <button class="sum" id="cheeseGrillMinus">-</button>
        </td>
       </tr>
     </table>
     
     <br /><br />
    <table id="itemTable" border="1" cellpadding="10" cellspacing="2">
       <tr id="ice" class="ice">
         <td><a href="sandwiches.php" id="1"><font size="4">Cheese Garlic(Grill)</font></a></td>
         <td>
           <button id="cheeseGarlicPlus" class="sum">+</button><br/>
           <input  type="text" name="cheeseGarlic" class="quntity" id="cheeseGarlic" value="0" /><br/>
           <button id="cheeseGarlicMinus" class="sum">-</button>
         </td>
         <td><a href="sandwiches.php" id="2"><font size="4">Italian(Grill)</font></a></td>
         <td>
           <button id="italianGrillPlus" class="sum">+</button><br/>
           <input type="text" name="italianGrill" class="quntity" id="italianGrill" value="0" /><br/>
           <button id="italianGrillMinus" class="sum">-</button>
        </td>
        <td><a href="sandwiches.php" id="3"><font size="4">Cheese Pineapple(Non/Grill)</font></a></td>
        <td>
          <button id="cheesePineapplePlus" class="sum">+</button><br />
          <input type="text" name="cheesePineapple" class="quntity" value="0" id="cheesePineapple" /><br/>
          <button id="cheesePineappleMinus" class="sum">-</button>
        </td>
        <td><a href="sandwiches.php" id="4"><font size="4">Spicy Paneer Capsicum(Grill)</font></a></td>
        <td>
          <button id="spicyPaneerCapsicumPlus" class="sum">+</button><br/>
          <input type="text" name="spicyPaneerCapsicum" class="quntity" value="0" id="spicyPaneerCapsicum" /><br/>
          <button id="spicyPaneerCapsicumMinus" class="sum">-</button>
        </td>
        <td><a href="sandwiches.php" id="5"><font size="4">Cheese(Grill)</font></a></td>
        <td>
          <button id="cheeseGrillPlus" class="sum">+</button><br />
          <input type="text" name="cheeseGrill" class="quntity" value="0" id="cheeseGrill" /><br/>
          <button class="sum" id="cheeseGrillMinus">-</button>
        </td>
       </tr>
     </table>
     
     <br /><br />
    <table id="itemTable" border="1" cellpadding="10" cellspacing="2">
       <tr id="ice" class="ice">
         <td><a href="sandwiches.php" id="1"><font size="4">Cheese Garlic(Grill)</font></a></td>
         <td>
           <button id="cheeseGarlicPlus" class="sum">+</button><br/>
           <input  type="text" name="cheeseGarlic" class="quntity" id="cheeseGarlic" value="0" /><br/>
           <button id="cheeseGarlicMinus" class="sum">-</button>
         </td>
         <td><a href="sandwiches.php" id="2"><font size="4">Italian(Grill)</font></a></td>
         <td>
           <button id="italianGrillPlus" class="sum">+</button><br/>
           <input type="text" name="italianGrill" class="quntity" id="italianGrill" value="0" /><br/>
           <button id="italianGrillMinus" class="sum">-</button>
        </td>
        <td><a href="sandwiches.php" id="3"><font size="4">Cheese Pineapple(Non/Grill)</font></a></td>
        <td>
          <button id="cheesePineapplePlus" class="sum">+</button><br />
          <input type="text" name="cheesePineapple" class="quntity" value="0" id="cheesePineapple" /><br/>
          <button id="cheesePineappleMinus" class="sum">-</button>
        </td>
        <td><a href="sandwiches.php" id="4"><font size="4">Spicy Paneer Capsicum(Grill)</font></a></td>
        <td>
          <button id="spicyPaneerCapsicumPlus" class="sum">+</button><br/>
          <input type="text" name="spicyPaneerCapsicum" class="quntity" value="0" id="spicyPaneerCapsicum" /><br/>
          <button id="spicyPaneerCapsicumMinus" class="sum">-</button>
        </td>
        <td><a href="sandwiches.php" id="5"><font size="4">Cheese(Grill)</font></a></td>
        <td>
          <button id="cheeseGrillPlus" class="sum">+</button><br />
          <input type="text" name="cheeseGrill" class="quntity" value="0" id="cheeseGrill" /><br/>
          <button class="sum" id="cheeseGrillMinus">-</button>
        </td>
       </tr>
     </table>
     
     <br /><br />
    <table id="itemTable" border="1" cellpadding="10" cellspacing="2">
       <tr id="ice" class="ice">
         <td><a href="sandwiches.php" id="1"><font size="4">Cheese Garlic(Grill)</font></a></td>
         <td>
           <button id="cheeseGarlicPlus" class="sum">+</button><br/>
           <input  type="text" name="cheeseGarlic" class="quntity" id="cheeseGarlic" value="0" /><br/>
           <button id="cheeseGarlicMinus" class="sum">-</button>
         </td>
         <td><a href="sandwiches.php" id="2"><font size="4">Italian(Grill)</font></a></td>
         <td>
           <button id="italianGrillPlus" class="sum">+</button><br/>
           <input type="text" name="italianGrill" class="quntity" id="italianGrill" value="0" /><br/>
           <button id="italianGrillMinus" class="sum">-</button>
        </td>
        <td><a href="sandwiches.php" id="3"><font size="4">Cheese Pineapple(Non/Grill)</font></a></td>
        <td>
          <button id="cheesePineapplePlus" class="sum">+</button><br />
          <input type="text" name="cheesePineapple" class="quntity" value="0" id="cheesePineapple" /><br/>
          <button id="cheesePineappleMinus" class="sum">-</button>
        </td>
        <td><a href="sandwiches.php" id="4"><font size="4">Spicy Paneer Capsicum(Grill)</font></a></td>
        <td>
          <button id="spicyPaneerCapsicumPlus" class="sum">+</button><br/>
          <input type="text" name="spicyPaneerCapsicum" class="quntity" value="0" id="spicyPaneerCapsicum" /><br/>
          <button id="spicyPaneerCapsicumMinus" class="sum">-</button>
        </td>
        <td><a href="sandwiches.php" id="5"><font size="4">Cheese(Grill)</font></a></td>
        <td>
          <button id="cheeseGrillPlus" class="sum">+</button><br />
          <input type="text" name="cheeseGrill" class="quntity" value="0" id="cheeseGrill" /><br/>
          <button class="sum" id="cheeseGrillMinus">-</button>
        </td>
       </tr>
     </table>
     <br /><br />
    <table id="itemTable" border="1" cellpadding="10" cellspacing="2">
       <tr id="ice" class="ice">
         <td><a href="sandwiches.php" id="1"><font size="4">Cheese Garlic(Grill)</font></a></td>
         <td>
           <button id="cheeseGarlicPlus" class="sum">+</button><br/>
           <input  type="text" name="cheeseGarlic" class="quntity" id="cheeseGarlic" value="0" /><br/>
           <button id="cheeseGarlicMinus" class="sum">-</button>
         </td>
         <td><a href="sandwiches.php" id="2"><font size="4">Italian(Grill)</font></a></td>
         <td>
           <button id="italianGrillPlus" class="sum">+</button><br/>
           <input type="text" name="italianGrill" class="quntity" id="italianGrill" value="0" /><br/>
           <button id="italianGrillMinus" class="sum">-</button>
        </td>
        <td><a href="sandwiches.php" id="3"><font size="4">Cheese Pineapple(Non/Grill)</font></a></td>
        <td>
          <button id="cheesePineapplePlus" class="sum">+</button><br />
          <input type="text" name="cheesePineapple" class="quntity" value="0" id="cheesePineapple" /><br/>
          <button id="cheesePineappleMinus" class="sum">-</button>
        </td>
        <td><a href="sandwiches.php" id="4"><font size="4">Spicy Paneer Capsicum(Grill)</font></a></td>
        <td>
          <button id="spicyPaneerCapsicumPlus" class="sum">+</button><br/>
          <input type="text" name="spicyPaneerCapsicum" class="quntity" value="0" id="spicyPaneerCapsicum" /><br/>
          <button id="spicyPaneerCapsicumMinus" class="sum">-</button>
        </td>
        <td><a href="sandwiches.php" id="5"><font size="4">Cheese(Grill)</font></a></td>
        <td>
          <button id="cheeseGrillPlus" class="sum">+</button><br />
          <input type="text" name="cheeseGrill" class="quntity" value="0" id="cheeseGrill" /><br/>
          <button class="sum" id="cheeseGrillMinus">-</button>
        </td>
       </tr>
     </table>
     <br /><br />
    <table id="itemTable" border="1" cellpadding="10" cellspacing="2">
       <tr id="ice" class="ice">
         <td><a href="sandwiches.php" id="1"><font size="4">Cheese Garlic(Grill)</font></a></td>
         <td>
           <button id="cheeseGarlicPlus" class="sum">+</button><br/>
           <input  type="text" name="cheeseGarlic" class="quntity" id="cheeseGarlic" value="0" /><br/>
           <button id="cheeseGarlicMinus" class="sum">-</button>
         </td>
         <td><a href="sandwiches.php" id="2"><font size="4">Italian(Grill)</font></a></td>
         <td>
           <button id="italianGrillPlus" class="sum">+</button><br/>
           <input type="text" name="italianGrill" class="quntity" id="italianGrill" value="0" /><br/>
           <button id="italianGrillMinus" class="sum">-</button>
        </td>
        <td><a href="sandwiches.php" id="3"><font size="4">Cheese Pineapple(Non/Grill)</font></a></td>
        <td>
          <button id="cheesePineapplePlus" class="sum">+</button><br />
          <input type="text" name="cheesePineapple" class="quntity" value="0" id="cheesePineapple" /><br/>
          <button id="cheesePineappleMinus" class="sum">-</button>
        </td>
        <td><a href="sandwiches.php" id="4"><font size="4">Spicy Paneer Capsicum(Grill)</font></a></td>
        <td>
          <button id="spicyPaneerCapsicumPlus" class="sum">+</button><br/>
          <input type="text" name="spicyPaneerCapsicum" class="quntity" value="0" id="spicyPaneerCapsicum" /><br/>
          <button id="spicyPaneerCapsicumMinus" class="sum">-</button>
        </td>
        <td><a href="sandwiches.php" id="5"><font size="4">Cheese(Grill)</font></a></td>
        <td>
          <button id="cheeseGrillPlus" class="sum">+</button><br />
          <input type="text" name="cheeseGrill" class="quntity" value="0" id="cheeseGrill" /><br/>
          <button class="sum" id="cheeseGrillMinus">-</button>
        </td>
       </tr>
     </table>
    
     <br /><br />
    <table id="itemTable" border="1" cellpadding="10" cellspacing="2">
       <tr id="ice" class="ice">
         <td><a href="sandwiches.php" id="1"><font size="4">Cheese Garlic(Grill)</font></a></td>
         <td>
           <button id="cheeseGarlicPlus" class="sum">+</button><br/>
           <input  type="text" name="cheeseGarlic" class="quntity" id="cheeseGarlic" value="0" /><br/>
           <button id="cheeseGarlicMinus" class="sum">-</button>
         </td>
         <td><a href="sandwiches.php" id="2"><font size="4">Italian(Grill)</font></a></td>
         <td>
           <button id="italianGrillPlus" class="sum">+</button><br/>
           <input type="text" name="italianGrill" class="quntity" id="italianGrill" value="0" /><br/>
           <button id="italianGrillMinus" class="sum">-</button>
        </td>
        <td><a href="sandwiches.php" id="3"><font size="4">Cheese Pineapple(Non/Grill)</font></a></td>
        <td>
          <button id="cheesePineapplePlus" class="sum">+</button><br />
          <input type="text" name="cheesePineapple" class="quntity" value="0" id="cheesePineapple" /><br/>
          <button id="cheesePineappleMinus" class="sum">-</button>
        </td>
        <td><a href="sandwiches.php" id="4"><font size="4">Spicy Paneer Capsicum(Grill)</font></a></td>
        <td>
          <button id="spicyPaneerCapsicumPlus" class="sum">+</button><br/>
          <input type="text" name="spicyPaneerCapsicum" class="quntity" value="0" id="spicyPaneerCapsicum" /><br/>
          <button id="spicyPaneerCapsicumMinus" class="sum">-</button>
        </td>
        <td><a href="sandwiches.php" id="5"><font size="4">Cheese(Grill)</font></a></td>
        <td>
          <button id="cheeseGrillPlus" class="sum">+</button><br />
          <input type="text" name="cheeseGrill" class="quntity" value="0" id="cheeseGrill" /><br/>
          <button class="sum" id="cheeseGrillMinus">-</button>
        </td>
       </tr>
     </table>
     
     <br /><br />
    <table id="itemTable" border="1" cellpadding="10" cellspacing="2">
       <tr id="ice" class="ice">
         <td><a href="sandwiches.php" id="1"><font size="4">Cheese Garlic(Grill)</font></a></td>
         <td>
           <button id="cheeseGarlicPlus" class="sum">+</button><br/>
           <input  type="text" name="cheeseGarlic" class="quntity" id="cheeseGarlic" value="0" /><br/>
           <button id="cheeseGarlicMinus" class="sum">-</button>
         </td>
         <td><a href="sandwiches.php" id="2"><font size="4">Italian(Grill)</font></a></td>
         <td>
           <button id="italianGrillPlus" class="sum">+</button><br/>
           <input type="text" name="italianGrill" class="quntity" id="italianGrill" value="0" /><br/>
           <button id="italianGrillMinus" class="sum">-</button>
        </td>
        <td><a href="sandwiches.php" id="3"><font size="4">Cheese Pineapple(Non/Grill)</font></a></td>
        <td>
          <button id="cheesePineapplePlus" class="sum">+</button><br />
          <input type="text" name="cheesePineapple" class="quntity" value="0" id="cheesePineapple" /><br/>
          <button id="cheesePineappleMinus" class="sum">-</button>
        </td>
        <td><a href="sandwiches.php" id="4"><font size="4">Spicy Paneer Capsicum(Grill)</font></a></td>
        <td>
          <button id="spicyPaneerCapsicumPlus" class="sum">+</button><br/>
          <input type="text" name="spicyPaneerCapsicum" class="quntity" value="0" id="spicyPaneerCapsicum" /><br/>
          <button id="spicyPaneerCapsicumMinus" class="sum">-</button>
        </td>
        <td><a href="sandwiches.php" id="5"><font size="4">Cheese(Grill)</font></a></td>
        <td>
          <button id="cheeseGrillPlus" class="sum">+</button><br />
          <input type="text" name="cheeseGrill" class="quntity" value="0" id="cheeseGrill" /><br/>
          <button class="sum" id="cheeseGrillMinus">-</button>
        </td>
       </tr>
     </table>
  </body>
</html>