<html>
    <head>
        <script type="text/javascript" src="./js/jquery.min.js"></script>
        <script type="text/javascript">
            function totalAmount()
            {
                var amount = $('#quenty').val();
                perCal = parseFloat(iceCreamPrice) * parseFloat(quenty);
                $('#amount').val(perCal);
            }
            var count = 0;
            var m = 0;


            function markAsParcel()
            {              
                for (var m = 0; m < count; m++)
                {
                    if ($('#takeaway' + m).is(':checked'))
                    {
                        $('#takeawaydiv' + m).html("p");

                        var getid = $('#takeaway' + m).val();
                        //alert($('#takeaway'+m).val());
                        $.ajax(
                                {
                                    type: "POST",
                                    url: "getparcel.php",
                                    data: "setid=" + getid,
                                });

                    }
                    else
                    {
                        $('#takeawaydiv' + m).html("");
                        var getid = $('#takeaway' + m).val();
                        //alert($('#takeaway'+m).val());
                        $.ajax(
                                {
                                    type: "POST",
                                    url: "getparcel.php",
                                    data: "unsetid=" + getid,
                                });
                    }
                }
                //alert('parcel');
            }

        //Page Refresh in 5 sec..
        //window.onload = setupRefresh;
        //function setupRefresh() {
            //setTimeout("refreshPage();", 10000);
        //}
        //function refreshPage() {
            //window.location = location.href;
        //} 
        </script>
        <script type="text/javascript">
            function pageshown()
            {               
                window.parent.document.getElementById('currentTableIfrem').src+='';                                
            }
        </script>
    </head>
    <body style="background-color:#F5F5DC;" onpageshow="pageshown()">
        <table align="left" border="2" id="tableNo" class="waiterdiv" cellpadding="10" cellspacing="0" width="480px" style="background-color:#F5F5DC;" >
            <tr>
                <th colspan="8" align="left"><input type="button" value="Take Away" onClick="markAsParcel();" style="background:blue;color:white;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b><font size="5px" color="blue"> Table : {$tableId}&nbsp&nbsp{if {$tablePart} == 'B'} B{elseif {$tablePart} == 'C' } C {/if}&nbsp &nbsp &nbsp Waiter : {$waiterName}</font></b></th>
            </tr>
            {if $recordFound == 1}
                <tr>
                    <td class="table1"><b><font size="5px">Delete</font></b></td>
                    <td class="table1"><b><font size="5px" style="color:grin;">P</font></b></td>
                    <td class="table1"><b><font size="5px">Item</font></b></td>    
                    <td class="table1"><b><font size="5px">Qty</font></b></td>
                    <td class="table1"><b><font size="5px">Amt</font></b></td>
                    <td class="table1"><b><font size="5px">Rate</font></b></td>
                    <td class="table1"><b><font size="5px">Time</font></b></td>
                    <td class="table1"><b><font size="5px">User</font></b></td>
                </tr>
                {section name=iSec loop=$orderArray}
                    <tr>
                        <td class="table2" align="center"><font size="5px">
                            <a href="deleteOrder.php?ordereditemsId={$orderArray[iSec].ordereditemsId}&waiterId={$waiterId}&tableId={$tableId}&tablePart={$tablePart}" 
                               onclick="return confirm('are u sure to delete this ??');"><img src="./images/deleteIcon.png" height="20px" width="20px"></a></font>
                            &nbsp;&nbsp;<input type="checkbox" name="parcel[]" id="takeaway{$smarty.section.iSec.index}" value="{$orderArray[iSec].ordereditemsId}" {if $orderArray[iSec].parcel=='p'}checked{/if}>

                        </td>
                        <td class="table2" align="center"><div id="takeawaydiv{$smarty.section.iSec.index}">{$orderArray[iSec].parcel}</div></td>
                        <td class="table2" align="left" NOWRAP><font size="5px">{$orderArray[iSec].itemName}&nbsp;{if $orderArray[iSec].weight > 0}{if $orderArray[iSec].weight == 1000}{$orderArray[iSec].quantity}kg{else}{$orderArray[iSec].weight}gm{/if}{else}{/if}</font></td>

                        <td align="right"><font size="5px">
                            {$orderArray[iSec].quantity}</font>
                        </td>
                        <td align="right"><font size="5px"><b>{$orderArray[iSec].amount}</b></font></td>
                        <td class="table2" align="right"><font size="5px">{$orderArray[iSec].itemPrice}</font></td>                                             
                        <td class="table2" align="left"><font size="5px">{$orderArray[iSec].orderTime|date_format:"%H:%M"}</font></td>
                        <td class="table2" align="left"><font size="5px">{$orderArray[iSec].userName}</font></td>
                    </tr>
                    <script>
                        count++;
                    </script>
                {/section}
                {section name=lasttr loop=$joinQueryResult}
                    <tr>
                        <td class="table1"><b><font size="5px">Total</font></b></td>
                        <td colspan="2">&nbsp;</td>
                        <td align="right"><font size="5px">{$joinQueryResult[lasttr].totalItem}</font></td>
                        <td align="right"><font size="5px"><b>{$totalAmount}</b></font></td>
                        <td colspan="2">&nbsp;</td>
                    </tr>
                {/section}
            {else}
                <tr>
                    <th colspan="7">Record Not Found For Current Table</th>
                </tr>
            {/if}
        </table>
    </body>
</html>